html {
  font-size: 62.5%;
}
section {
  background-color: rgb(27, 27, 27);
  border: 0;
  max-width: 37.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}
.songs-pics {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 17.5rem 17.5rem;
  gap: 1rem;
}
main {
  padding: 0 0.7rem;
  background-color: rgb(27, 27, 27);
}
.first {
  background-color: rgb(48, 48, 48);
  display: flex;
  align-items: center;
}
.first p {
  color: white;
  padding-left: 0.6rem;
  font-size: 1.5rem;
}
.unique {
  color: white;
  margin-top: 2rem;
  font-size: 2.3rem;
  font-weight: bold;
}
.images {
  width: 17rem;
  height: 17rem;
}
.suggested-playlists {
  display: flex;
  gap: 1.9rem;
  padding-top: 1rem;
}
.suggested-playlists p {
  color: rgb(112, 112, 112);
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}
